<div *ngIf="visible" class="w-6 h-6 relative flex justify-center items-center animate-spin">
  <div class="w-1 h-1 rounded-full absolute bg-white" style="transform: rotate(0deg) translateX(8px);"></div>
  <div class="w-1 h-1 rounded-full absolute bg-white" style="transform: rotate(72deg) translateX(8px);"></div>
  <div class="w-1 h-1 rounded-full absolute bg-white" style="transform: rotate(144deg) translateX(8px);"></div>
  <div class="w-1 h-1 rounded-full absolute bg-white" style="transform: rotate(216deg) translateX(8px);"></div>
  <div class="w-1 h-1 rounded-full absolute bg-white" style="transform: rotate(288deg) translateX(8px);"></div>
</div>
